@use "../../style/variables" as *;
@use "../../style/placeholders";

.EventCard {
  color: $White;
  font-size: 18px;
  height: 420px;
  cursor: pointer;

  img {
    width: 100%;
    height: 320px;
  }

  h3 {
    margin: 1rem 0 0.2rem 2rem;
  }

  p {
    margin: 0.5rem 2rem;
    // height: 100%;
  }
}
