@use "../variables" as *;
@use "../placeholders";

.PartoutTickets {
  .TicketRow {
    display: grid;
    grid-template-columns: 3fr 0.5fr 0.5fr;
    align-items: center;
    gap: 2rem;
    padding: 0 2rem;
    border-bottom: 1px solid $Black;
  }

  .TicketRow:nth-of-type(even) {
    background: $LighterGray;
  }

  .TicketRow:nth-of-type(odd) {
    background: $Gray;
  }
}

.SingleDayTickets {
  margin-top: 4rem;

  .TicketRow {
    display: grid;
    grid-template-columns: 3fr 0.5fr 0.5fr;
    align-items: center;
    gap: 2rem;
    padding: 0 2rem;
  }

  .TicketRow:nth-of-type(even) {
    background: $LighterGray;
  }

  .TicketRow:nth-of-type(odd) {
    background: $Gray;
  }
}

.BuyTicket {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  background: $Red;
  color: $White;
  width: 150px;
  height: 42px;
  border: 1px solid $LightGray;

  a {
    color: $White;
    text-decoration: none;
  }
}
