@use "../variables" as *;
@use "../placeholders";

.PartoutTickets {
  .Header {
    background: $DarkGray;
    color: $White;
    width: 1200px;
    padding: 1rem 2rem;
  }

  .Header:nth-of-type(4) {
    margin-top: 3rem;
  }

  .TicketRow {
    display: grid;
    grid-template-columns: 3fr 0.5fr 0.5fr;
    align-items: center;
    gap: 2rem;
    padding: 0 2rem;
  }

  .TicketRow:nth-of-type(even) {
    background: $LighterGray;
  }

  .TicketRow:nth-of-type(odd) {
    background: $LightGray;
  }
}

.SingleDayTickets {
  margin-top: 4rem;

  .Header {
    background: $DarkGray;
    color: $White;
    width: 1200px;
    padding: 1rem 2rem;
  }

  .TicketRow {
    display: grid;
    grid-template-columns: 3fr 0.5fr 0.5fr;
    align-items: center;
    gap: 2rem;
    padding: 0 2rem;
  }

  .TicketRow:nth-of-type(even) {
    background: $LighterGray;
  }

  .TicketRow:nth-of-type(odd) {
    background: $LightGray;
  }
}

.BuyTicket {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  background: $Red;
  color: $White;
  width: 150px;
  height: 42px;
}
